* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}


footer {
    background: linear-gradient(180deg, #1d2dbe, #1b44d3);
    color: #fff;
    text-align: center;
    padding: 2.5rem 1rem;
    font-family: "Segoe UI", sans-serif;
}

.footer-container {
    max-width: 500px;
    margin: 0 auto;
}

.footer-logo {
    height: 70px;
    width: auto;
    border-radius: 10px;
    background-color: #fff;
    padding: 6px;
    margin-bottom: 1rem;
}

footer h2 {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 0.3rem;
}

footer .descricao {
    font-size: 0.95rem;
    color: #cfd8ff;
    margin-bottom: 1rem;
}

.contato p {
    font-size: 0.9rem;
    color: #cfd8ff;
    line-height: 1.4rem;
    overflow-wrap: anywhere;

}

footer hr {
    margin: 1.5rem auto;
    width: 80%;
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}
footer a {
    text-decoration: none;
}

footer a :hover {
    color: #ffffff;
}

.direitos p {
    font-size: 0.85rem;
    color: #cfd8ff;
    line-height: 1.4rem;
}

.dev {
    margin-top: 1rem;
    text-decoration: none;
}

.dev strong {
    color: #ffcc00;
    font-weight: 700;
    transition: color 0.3s ease;
}

.dev strong:hover {
    color: #ffe380;

}